# macOS
.DS_Store

# Virtual environments
myvenv/
venv/

# Python
__pycache__/
*.pyc

# Data (keep structure, ignore raw files)
data/raw/
data/processed/


# Jupyter
.ipynb_checkpoints/

# Misc
allfiles.txt
.env

